
.icon-pinterest:before { content: '\e800'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
